/* organized by size from bottom up */
   
   /* devices bigger than 1200 */


@media (max-width: 1200px) {
   /* devices smaller than 1200 */
   .pagination-button{
    font-size: 1.5rem;
    height: 2.25rem;
    width: 2.25rem;
  }

  .sticky {
    font-size: 2.25rem;
  }

}
  
 @media (max-width: 800px) {
    /* devices smaller than 992 */
    .pagination-button{
        font-size: 1.25rem;
        height: 1.75rem;
        width: 1.75rem;
      }

      .sticky {
        font-size: 2rem;
      }

      article img {
        height: 150px;
      }
    
      article {
        width: 150px;
      }
}
  

@media (max-width: 450px) {
    /* devices smaller than 450 */
    .pagination-button{
        font-size: 1rem;
        height: 1.25rem;
        width: 1.25rem;
    }

    .sticky {
        font-size: 1.25rem;
    }

    article img {
        height: 100px;
      }
    
      article {
        width: 100px;
      }

    article img:hover {
        transform: scale(1);
        box-shadow: none;
    }

    article form button {
        font-size:10px;
    }
}

@media (max-width: 375px) {
    article img {
        height: 75px;
    }
    
      article {
        width: 65px;
    }

    article img:hover {
        transform: scale(1);
    }

    article form button {
        font-size:7px;
    }


}

/* .sticky img */