
* {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color:#455290
}

.sticky {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: " . home profile" ;
    position: sticky; 
    top:0px;
    background-color: #FD9E74;
    font-size: 30px;
    text-align: center;
    font-size: 2.5rem;
}

/* for the image i add */
.sticky img{
    height: 100px;
}

body {
    background-color:rgb(153, 230, 203);
    text-align: center;
    color: #455290;
}

.home {
    grid-area: home;
    text-align: center;
}

.profile {
    grid-area: profile;
    text-align: right;
}

.selection {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.selection img {
    height: 200px;
}

#results {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap:10px;
    width: fit-content;
}


article {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 5px;
    width: 200px;
    row-gap: 2px;
    margin: 5px
}

article img {
    
    height: 172px;
    
}

article img:hover {
    transform: scale(1.75) translateY(-30px);
}

.pagination-container {
    display: flex;
    align-items: center;
    position: sticky;
    bottom: 0px;
    justify-content: center;
}

#pagination-numbers {
    background-color: #FD9E74;
}


.pagination-button{
  font-size: 1.75rem;
  background-color: transparent;
  border: none;
  margin: 0.25rem 0.25rem;
  cursor: pointer;
  height: 2.75rem;
  width: 2.75rem;
  border-radius: .2rem;
}

.hidden {
    display: none; 
}

input {
    background-color: #FD9E74;
    color:#455290;
}

.quantity {
    width: 70px;
}

form button {
    background-color:#455290;
    color:#FD9E74;
}

.print-only {
    display:none;
}