
.sticky {
    display:grid;
    grid-template-columns: auto auto auto;
    grid-template-areas: " . home profile" ;
    position: sticky; 
    top:0;
    background-color: #FD9E74;
    font-size: 30px;
    text-align: center;
}

body {
    background-color:rgb(153, 230, 203);
    text-align: center;
    color: #455290;
}

.home {
    grid-area: home;
}

.profile {
    grid-area: profile;
    text-align: right;
}

.selection {
    display: grid;
    grid-template-columns: auto auto auto;
}

.selection img {
    height: 200px;
}